<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="tela-login">

  <div class="form-container">
    <h2>Entrar</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for categoria, mensagem in messages %}
          <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>

    <p>Ainda não tem conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
  </div>

</body>
</html>
